# When extracted the debloat-softwares but not wiped

# Adw Cleaner
**/debloat-softwares/adwcleaner.exe

# Shut Up 10
**/debloat-softwares/ShutUp10/*.exe

# Winaero Tweaker
**/debloat-softwares/Winaero Tweaker/*.dll
**/debloat-softwares/Winaero Tweaker/*.exe
**/debloat-softwares/Winaero Tweaker/*.txt
**/debloat-softwares/Winaero Tweaker/*.url

# Temporary folder for downloaded stuff
**/tmp/

# Downloaded temporary files
*.tmp

# Ignore WSL2 moved files
**.Identifier
