############################################################################
# This file was created with O&O ShutUp10 and can be imported onto another computer. 
#
# Download the application at https://www.oo-software.com/en/shutup10
# You can then import the file from within the program. 
#
# Alternatively you can import it automatically over a command line. Simply use
# the following parameter: 
# ooshutup10.exe <path to file>
# 
# Selecting the Option /quiet ends the app right after the import and the user does not 
# get any feedback about the import.
#
# We are always happy to answer any questions you may have!
# © 2015-2020 O&O Software GmbH, Berlin. All rights reserved. https://www.oo-software.com/
############################################################################

P001	-
P002	-
P003	-
P004	-
P005	+
P006	+
P008	+
P017	-
P026	-
P027	+
P028	-
P009	-
P010	-
P015	+
P016	+
A001	+
A002	-
A003	-
A004	-
A006	-
A005	-
P007	-
P025	-
P023	-
P012	-
P013	-
P019	-
P020	-
P011	-
P018	-
P021	-
P022	-
P014	-
P029	-
P030	-
P031	-
P032	-
P024	-
S001	-
S002	+
S003	+
S004	+
S005	+
S008	-
S009	-
S010	-
E001	+
E002	+
E003	-
E008	-
E007	-
E010	-
E011	-
E012	-
E009	-
E004	-
E005	-
E013	-
E014	-
E006	+
Y001	-
Y002	+
Y003	+
Y004	+
Y005	+
Y006	+
Y007	+
C012	-
C002	+
C004	+
C005	+
C006	+
C013	-
C007	-
C008	+
C009	+
C010	-
C011	+
L001	-
L002	-
L003	-
L004	-
L005	+
L006	+
L007	+
L008	+
U001	+
U002	+
U003	+
U004	+
U005	+
W001	+
W002	+
W003	-
W011	-
W004	-
W005	+
W010	-
W009	-
W006	-
W007	-
W008	-
M006	+
M011	+
M010	+
O003	-
O001	-
S012	-
S013	-
S014	-
S011	+
K001	-
K002	+
K005	-
M001	-
M002	-
M004	+
M005	+
M003	+
M012	-
M013	-
M014	-
M015	-
M016	-
N001	-
